@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ASP.NET_Test.Models.EmployeeViewModel
@{
    var item = Model as EmployeeViewModel;
}

<h1>@item.FullName</h1>
@using (Html.BeginForm())
{
    <div class="mb-3 row">
        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.TextAreaFor(model => model.Address, 1, 1, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(model => model.HiringDate, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.HiringDate, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = ".01" } })
        </div>
    </div>


    <div class="mb-3 row">
        <label for="position" class="col-sm-2 col-form-label">Position</label>
        <div class="col-sm-10">
            @Html.DropDownList("DepartmentID", (IEnumerable<SelectListItem>)ViewBag.DepartmentID, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="mb-3 row">
        <label for="department" class="col-sm-2 col-form-label">Department</label>
        <div class="col-sm-10">
            @Html.DropDownList("PositionID", (IEnumerable<SelectListItem>)ViewBag.PositionID, htmlAttributes: new {@class = "form-control" })
        </div>
    </div>


    <div class="d-grid gap-2 d-md-block">
        <input type="submit" value="Save" class="btn btn-outline-primary" asp-action="Person" />
        @Html.ActionLink("Back to List", "Index", new object { }, new { @class = "btn-danger btn" })
    </div>
}